.body{
    margin: 0;
    background-color: #131518;
}

.container{
    background-color: #262e38;
    color: #FFF;
    margin: 150px 20px;
    padding: 25px;
    color: #969FAD;
    font-family: Arial, Helvetica, sans-serif;
}

